.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-shape-1 {
  width: 135px;
  height: 207px;
  margin: 50px auto 0 90px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -114px 0 0 234px;
}

.u-section-1 .u-list-1 {
  width: 1047px;
  margin: 43px -112px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 62px;
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 9px 30px 11px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 21px 294px 60px 455px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 4.1112em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 134px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
    margin-left: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 133px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -56px;
    margin-left: 0;
  }
}