 .u-section-1 {
  background-image: url("images/WhatsAppGrsel2023-12-27saat10.20.37_419d02fa.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1817px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1146px;
  margin: 25px -19px 9px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 12px 0 0 14px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 213px;
  object-position: 50% 18.07%;
  margin: 23px auto 0 14px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 24px 31px 0 14px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 21px auto 0 58px;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 21px 0 40px;
}

.u-section-1 .u-image-2 {
  width: 194px;
  height: 190px;
  margin: 27px auto 0 45px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 31px 9px 0 15px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 35px auto 0 58px;
  padding: 9px 52px 9px 51px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 -14px 0 99px;
}

.u-section-1 .u-image-3 {
  width: 237px;
  height: 200px;
  object-position: 100% 50%;
  margin: 16px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 26px 74px 0 99px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 31px auto 0;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 9px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 8px 0 0 37px;
}

.u-section-1 .u-image-4 {
  width: 195px;
  height: 194px;
  margin: 14px auto 0 58px;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  margin: -4px 33px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 0 auto 0 68px;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px -32px 0 84px;
}

.u-section-1 .u-image-5 {
  width: 236px;
  height: 175px;
  object-position: 50% 39.92%;
  margin: 20px auto 0 52px;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  margin: 0 44px 0 39px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -8px auto 0 91px;
  padding: 9px 52px 9px 51px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-6 {
  padding: 9px 14px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  width: 224px;
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  width: 258px;
  height: 158px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 3rem;
  margin: 2px 11px 0 45px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 31px 58px 0 auto;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 11px 0 0 91px;
}

.u-section-1 .u-image-7 {
  width: 255px;
  height: 140px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 3rem;
  margin: 9px 88px 0 46px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 35px auto 0;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 15px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  width: 177px;
  margin: -3px auto 0;
}

.u-section-1 .u-image-8 {
  width: 209px;
  height: 146px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 3rem;
  width: 233px;
  margin: 26px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: 12px auto 0;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-9 {
  padding: 4px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 120px 0 95px;
}

.u-section-1 .u-image-9 {
  width: 235px;
  height: 156px;
  object-position: 50% 71.42%;
  margin: 0 auto 0 54px;
}

.u-section-1 .u-text-18 {
  font-size: 3rem;
  margin: 8px 103px 0 31px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: 36px auto 0 79px;
  padding: 10px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 275px;
    height: 161px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 437px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 65px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 40px;
    margin-left: 65px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 404px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 309px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 10px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 22px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 309px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 702px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 54px;
    margin-left: 12px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 702px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 420px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-17 {
    margin-right: 86px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 66px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 202px;
    height: 118px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-2 {
    width: 165px;
    height: 162px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 3px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 12px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    width: 225px;
    height: 167px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    width: 212px;
  }

  .u-section-1 .u-image-6 {
    width: 212px;
    height: 128px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 24px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 225px;
    height: 124px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 456px;
  }

  .u-section-1 .u-image-8 {
    width: 195px;
    height: 136px;
  }

  .u-section-1 .u-text-16 {
    width: 195px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 421px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 49px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-9 {
    width: 225px;
    height: 149px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 346px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 332px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 333px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 322px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 391px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3230px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 419px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 321px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 38px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 30px;
    margin-left: 8px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 0;
    margin-right: 160px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 24px;
    margin-right: 140px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 383px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }
}