.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 3.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  width: 201px;
  margin: -91px auto 0 268px;
}

.u-section-1 .u-repeater-1 {
  min-height: 354px;
  grid-template-columns: 100%;
  grid-gap: 83px 83px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #f1b5b8, white);
  margin: 0 auto 0 0;
  padding: 7px 21px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  --radius: 4px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #f1b5b8, white);
  margin: 0 auto 0 0;
  padding: 7px 21px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  --radius: 4px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #f1b5b8, white);
  margin: 0 auto 0 0;
  padding: 10px 21px 12px;
}

.u-section-1 .u-text-3 {
  font-size: 3.5rem;
  margin: -240px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.5rem;
  margin: 62px auto 60px 11px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: -45px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -189px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 118px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 571px;
}

.u-section-2 .u-tabs-1 {
  min-height: 511px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 18px 0 334px;
}

.u-section-2 .u-image-1 {
  width: 309px;
  height: 327px;
  object-position: 26.49% 50%;
  margin: -42px auto 0 3px;
}

.u-section-2 .u-text-2 {
  line-height: 2.2;
  text-transform: uppercase;
  margin: -285px 29px 0 323px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 0 -12px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 540px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-image-5 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-image-6 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-image-7 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 0 auto 0 51px;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  margin: 12px 0 0 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 338px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 445px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 341px;
    margin-top: -117px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -341px;
    margin-left: 337px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 775px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -35px;
  }

  .u-section-2 .u-image-1 {
    width: 181px;
    height: 200px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -200px;
    margin-left: 197px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 253px;
  }

  .u-section-2 .u-image-1 {
    height: 327px;
    margin-top: -276px;
    width: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-tabs-1 {
  min-height: 511px;
  height: auto;
  margin-top: 0;
  margin-bottom: 29px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 23px 0 329px;
}

.u-section-3 .u-image-1 {
  width: 309px;
  height: 327px;
  object-position: 26.49% 50%;
  margin: -52px auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  margin: -275px 23px 0 329px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 540px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-3 .u-image-3 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-3 .u-image-4 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-3 .u-image-5 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-3 .u-image-6 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-3 .u-image-7 {
  --radius: 10px;
  width: 167px;
  height: 167px;
  margin: 28px 124px 0 83px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 11px -37px 0 64px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 445px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 775px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-2 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-3 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-4 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-5 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-6 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-7 {
    margin-right: 107px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 630px;
}

.u-section-4 .u-tabs-1 {
  min-height: 667px;
  height: auto;
  width: 1140px;
  margin: 0 auto -37px -34px;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 18px 0 334px;
}

.u-section-4 .u-image-1 {
  width: 309px;
  height: 327px;
  object-position: 2.35% 50%;
  margin: -47px auto 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2.2;
  margin: -280px 25px 0 327px;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 0 -15px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 544px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-image-2 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-image-3 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-image-4 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-4 .u-image-5 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-4 .u-image-6 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-4 .u-image-7 {
  --radius: 10px;
  width: 163px;
  height: 163px;
  margin: 16px 143px 0 68px;
}

.u-section-4 .u-text-8 {
  font-size: 2.25rem;
  margin: 20px -15px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-tabs-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 152px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 449px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-tabs-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 782px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-tabs-1 {
    width: 540px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-tabs-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -217px;
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-3 {
    margin-top: -250px;
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-4 {
    margin-top: -217px;
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-5 {
    margin-top: -217px;
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-6 {
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-7 {
    margin-top: -217px;
    margin-right: 126px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }
}