.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-form-1 {
  height: 425px;
  margin: -32px 336px 0 271px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-form-2 {
  height: 425px;
  margin: -121px 336px 0 271px;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -425px 72px 60px auto;
  padding: 10px 67px 10px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 236px;
    margin-left: 171px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 236px;
    margin-left: 171px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 126px;
    margin-left: 61px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 126px;
    margin-left: 61px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 7px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -78px;
    margin-right: auto;
    margin-left: 52px;
  }
}